.cart{
    background: rgba(255, 153, 0, 0.3);
    height: 900px;
    padding: 25px;
    position: sticky;
    top: 0;
}

.cart-head{
    font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;
margin-bottom: 50px;
}

.cart-info{
    font-size: 17px;
    color: #2A414F;
    padding-left: 15px;
}

.grand-total{
    font-size: 21px;
    color: #0E161A;
    letter-spacing: 0.0015em;

}


.clear-cart {
    background: #FF3030;
    border-radius: 4px;
    padding: 13px 15px 14px 15px;
    color: FFFFFF;
    width: 232px;
    margin-bottom: 5px;
    border-radius: 4px;


}

.review-order {
    background: #FF9900;
    border-radius: 4px;
    width: 232px;
    padding: 13px 15px 14px 15px;
    border-radius: 4px;


}